
body{
  margin: 0;
}

h1 {
  text-align: center;
  margin: 50px 0;
    
}
nav {
	background-color: steelblue;
	padding: 25px;
  }
a {
	color: white;
	margin: 40px;
  padding: 25px;
  }
h1 {
	color: steelblue;
  }
  img {
	width: 800px;
	border: 8px solid steelblue;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  p {
	padding: 50px;

  }
  footer {
	background-color: steelblue;
	color: white;
  }
  nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }

  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  #active {
    background-color: white;
    color: steelblue;
  }
  img {
    width: 80%;
  }
  p {
    width: 100%;
  }
  a {
    font-size: 1.5em;
  }
  footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
  }
  a:hover {
    background-color: white;
    color: steelblue;
}